{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .btn{
            background-color: rgb(229,65,96);
            color:white;
            font-weight: bold;
        }
        .btn:hover{
            background-color: rgb(186,53,80);
            color:white;
        }
    </style>
    <h1>Intake edit</h1>
    <ul>
        <li style="list-style-type: none;">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn" type="submit" value="Opslaan" />
            {{ form_end(edit_form) }}
        </li>
        <li style="list-style-type: none;">
        {{ form_start(delete_form) }}
        <input class="btn" type="submit" value="Verwijderen">
        {{ form_end(delete_form) }}
        </li>
        <li style="list-style-type: none;">
            <a class="btn" href="{{ path('intake_index') }}">Terug naar de lijst</a>
        </li>
    </ul>
{% endblock %}
